.parent{
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
    
}
.before>img{
    height: 500px;
    object-fit:contain
}
.operation{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.operation>input{
    border: 2px solid #752392;
    padding: 8px 24px;
    color: black;
    border-radius: 8px;
    outline-color: #752392;
    
}
.operation>button{
border-radius:8px;
padding:5px 10px;
margin:2px 10px
}
.generating{
    background:#7523925d;
}
.generate{
    background:#752392;

}

